* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Pacifico&subset=cyrillic');

$colorTextHead: #0feb9e;
$colorTextMain: #0eb493;
$liteText: #ffffff;
$bgFooter: #21b697;
$bgHeader: #101636;

$Sans: "Open Sans";



a.menu__link.active {
	color: #ff9c27;
    text-decoration: underline;
}
