.blockCarusel {
    max-height: 800px;
    background: #000;

    &__caption {
        color: $liteText;
        font-family: $Sans;
        font-size: 3.875rem;
        font-weight: 300;

        &_accent {
            font-weight: 700;
        }
    }

    &__slogan {
        color: $liteText;
        font-family: $Sans;
        font-size: 3rem;
        font-weight: 300;
        line-height: 2.5rem;

        &_accent {
            color: $colorTextHead;
        }
    }

    &__text {
        color: $liteText;
        font-family: $Sans;
        font-size: 1.125rem;
        font-weight: 300;
    }
}

.carousel-inner {
    text-align: center;

    img {
        max-height: 800px;
    }
}

.carousel-caption {
    bottom: 145px;
}
