.features {
    background: #f4f7f9;
    padding: 70px 0 50px;

    &__list {
        &_position {
            margin-top: 95px;
        }
    }
}

.featureElem {
    &__caption {
        color: #062033;
        font-family: $Sans;
        font-size: 1.25rem;
        font-weight: 600;
    }

    &__text {
        color: #062033;
        font-family: $Sans;
        font-size: 0.813rem;
        font-weight: 400;
        line-height: 1.313rem;
    }
}

.itemFa {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.063rem solid #898989;
    text-align: center;
    line-height: 40px;
    color: $colorTextMain;
    border-color: $colorTextMain;
}
