.footer {
    border-top: 5px solid black;
    background: $bgFooter;
    color: $liteText;
    font-family: $Sans;
    font-size: 0.813rem;
    font-weight: 400;
    line-height: 1.5rem;

    padding: 50px 15px 25px;

    @include media-breakpoint-up(md) {
        padding: 130px 0 50px;
    }

    &__listItem {
        list-style-type: none;
        padding: 5px 0;
    }
    &__created {
        &_dark {
            color: #062033;
        }
    }

    &__margBottom {
        margin-bottom: 40px;
    }

    &__invisible {
        color: $bgFooter;
    }
}
