.container {
    max-width: 1170px;
    
    @include media-breakpoint-down(md) {
        padding: 0 15px;
    }
}
.genCaption {
    color: $colorTextMain;
    font-family: $Sans;
    font-size: 1.75rem;
    font-weight: 800;
    text-transform: uppercase;

    &_positionCenter {
        text-align: center;
    }
    &_positionLeft {
        text-align: left;
    }
}


