.logo {
    color: $liteText;
    font-family: Pacifico;
    font-size: 1.75rem;
    font-weight: 400;
    // Text style for "Brandi"
    letter-spacing: 0.088rem;

    &_positionHeader {
        display: inline-block;
    }
}

header {
    background-color: $bgHeader;
    //opacity: 0.2;
    padding: 20px 0 0;
}

.bar {
    color: $liteText;
    font-size: 25px;
    //display: inline-block;
    display: none;
    &_position {
        float: right;
    }
}

.header {
    &__slogan {
        color: $liteText;
        font-family: "Open Sans";
        font-size: 0.813rem;
        font-weight: 300;
        letter-spacing: 0.041rem;

        &_positionHeader {
            display: inline-block;
        }
    }

    &__sloganMini {
        letter-spacing: 0.05rem;
    }

    &__container {
        // padding: 0;
        max-width: 1170px;
    }

    &_position {
        position: fixed;
        width: 100%;
        z-index: 20;
    }
}

.menu {

    &__item {
        display: inline-block;

        @include media-breakpoint-down(sm) {
            display: block;
            margin: 5px 0;
        }
    }

    &__link {
        display: block;
        color: $liteText;
        font-family: "Open Sans";
        font-size: 0.813rem;
        font-weight: 400;
        letter-spacing: 0.041rem;
        padding: 5px 0 5px 30px;
    }

    &_positionHeader {
        margin-bottom: 0px;
        margin-top: 5px;

        @include media-breakpoint-down(sm) {
            padding: 10px 0;
            text-align: center;
        }
    }
}

.navigation {
    &_positionHeader {
        float: right;

        @include media-breakpoint-down(sm) {
            clear: both;
            width: 100%;
        }
    }
}
