.let {
    padding: 95px 0 50px;

    &__text {
        color: #062033;
        font-family: $Sans;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.5rem;
        text-align: center;
         &_positionForm {
            margin-top: 60px;
        }
    }
}

.form {
    &__caption {
        color: #062033;
        font-family: $Sans;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2rem;
    }

    &__text {
        color: #6a737b;
        font-family: $Sans;
        font-size: 0.813rem;
        line-height: 1.5rem;


    }

    &__lable {
        color: #062033;
        font-family: $Sans;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.5rem;
    }

    &__input {
        width: 100%;
        height: 50px;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        margin-top: 25px;

        &:focus {
            outline: 0;
        }
    }

    &__send {
        border: 0;
        background: none;
        color: #000000;
        font-family: $Sans;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5rem;
        padding: 5px;

        :hover {
            cursor: pointer;
        }

        &_positionForm {
            margin-top: 40px;
        }
    }

    &__mail {
        color: $colorTextMain;
    }

    &_positionForm {
            margin-top: 80px;
    }
}
