.modul {
    display: none;
    width: 350px;
    height: 180px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid black;
    padding: 5px;
    &_position {
        position: fixed;
        top: 150px;
        left: 50%;
        margin-left: -175px;
    }
}

.modal {
    &__header {
        display: flex;
        justify-content: flex-end;
        padding: 0 10px;
    }

    &__close {
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        &:hover {
            cursor: pointer;
            background: rgba(0, 0, 0, 0.1);
        }
    }

    &__body {
        text-align: center;
        padding: 25px 0;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
    }
}

.modulShow {
    display: block;
}
