.stories-set__items {
    border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
    border: 1px solid grey; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
    /* устанавливаем для таблицы внешнюю границу серого цвета толщиной 3px */
    border-top: 3px solid grey; }
/* задаём для ячейки тела таблицы границу серого цвета толщиной 1px */
.stories_news
 {border-bottom: 1px solid grey;
}